<header class="site-header">
  <div class="header-inner container">
    <a href="{{ asset_prefix }}index.html" class="brand">
      <img src="{{ asset_prefix }}img/logo.webp" alt="STRAVEN" class="brand-logo">
    </a>
    <div class="header-tag">Catálogo Mayorista</div>
  </div>
</header>
